{% extends "base.html" %}

{% block title %}入选池{% endblock %}
{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{{ url_for('main.index') }}">首页</a></li>
        <li class="active"><a href="{{ url_for('main.choice_list') }}">入选池</a></li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'message.html' %}
    </div>

    <div class="box-body">
        {% if form%}
        <table class="table table-bordered">
            <tr>
                <th style="display: none" >ID</th>
                <th>编码</th>
                <th>策略</th>
                <th>创建時間</th>
                <th>状态</th>
            </tr>
            {% for row in form.content %}
            {% if row.tick %}
            <tr style="background-color: ghostwhite">
            {% else %}
            <tr>
            {% endif %}
                <td style="display: none">{{row.id}}</td>
                <td>
                    {% if row.code.startswith('60') %}
                    <a href="http://xueqiu.com/S/SH{{row.code}}">{{row.name}}</a>
                    {% else %}
                    <a href="http://xueqiu.com/S/SZ{{row.code}}">{{row.name}}</a>
                    {% endif %}
                </td>
                <td>{{row.strategy}}</td>
                <td>{{row.dt}}</td>
                <td>
                    {% if row.status==0 %}
                    <span>已弃用</span>
                    {% elif row.status==1 %}
                    <span>观察中</span>
                    {% elif row.status==2 %}
                    <span>交易中</span>
                    {% else %}
                    <span>移除</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <div class="box-footer clearfix">
        {% if form%}
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            {% for i in range(1, form.total_page+ 1) %}
            {% if i == form.page %}
            <li><a href="?page={{i}}&today={{today}}"><b>{{i}}</b></a></li>
            {% else %}
            <li><a href="?page={{i}}&today={{today}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
    }
</script>
{% endblock %}