{% extends "base.html" %}

{% block title %}通知方式配置{% endblock %}


{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{{ url_for('main.index') }}">首页</a></li>
        <li class="active"><a href="{{ url_for('main.signallist') }}">入选池</a></li>
        <li class="active">入选明细</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>名称</label>
                    {% if choice.code.startswith('60') %}
                    <a href="http://xueqiu.com/S/SH{{choice.code}}">{{choice.name}}</a>
                    {% else %}
                    <a href="http://xueqiu.com/S/SZ{{choice.code}}">{{choice.name}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>引擎</label>
                    <span>{{cs.strategy}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>状态</label>
                {% if choice.status == 0 %}
                    <span>disuse</span>
                {% elif choice.status == 1 %}
                    <span>watch</span>
                {% elif choice.status == 2 %}
                    <span>deal</span>
                {% else %}
                    <span>done</span>
                {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>入选时间</label>
                    <span>{{cs.dt}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>入选级别</label>
                    <span>{{cs.freq}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>价格</label>
                    <span>{{'{:.2f}'.format(cs.price)}}</span>
                </div>
            </div>
        </div>
        <div class="container">
          <h4>买入信号</h4>
          <hr>
        </div>
                {% if bs %}
        <div class="box-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label>时间</label>
                    <span>{{bs.dt}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>信号</label>
                    <span>{{bs.freq}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>价格</label>
                    <span>{{bs.price}}</span>
                </div>
            </div>
        </div>
                {% else %}
        <div class="box-body">
             <label>无</label>
        </div>
                {% endif %}
        <div class="container">
          <h4>卖出信号</h4>
          <hr>
        </div>
                {% if ss %}
        <div class="box-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label>时间</label>
                    <span>{{ss.dt}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>信号</label>
                    <span>{{ss.freq}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>价格</label>
                    <span>{{ss.price}}</span>
                </div>
            </div>
        </div>
                {% else %}
        <div class="box-body">
             <label>无</label>
        </div>
                {% endif %}
        <div class="container">
          <h4>出局信号</h4>
          <hr>
        </div>
                {% if os %}
        <div class="box-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label>时间</label>
                    <span>{{os.dt}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>信号</label>
                    <span>{{os.freq}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>价格</label>
                    <span>{{os.price}}</span>
                </div>
            </div>
        </div>
                {% else %}
        <div class="box-body">
             <label>无</label>
        </div>
                {% endif %}
        <div class="box-footer">
            <div class="col-md-12">
                <a class='btn btn-default' href='javascript:history.back()'>返回</a>
                {% if choice.id %}
                <a class='btn btn-danger pull-right' href='{{ url_for("main.choice_list", id=choice.id, action="disuse") }}'>弃用</a>

                {% if choice.status != 1 %}
                <a class='btn btn-primary pull-right' href='{{ url_for("main.choice_list", id=choice.id, action="deal") }}'>交易</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}
