{% extends "base.html" %}

{% block title %}组件管理{% endblock %}


{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">组件管理</li>
        <li class="active">组件状态</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post"><div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-body">
            <div class="row">
            <div class="col-lg-3 col-xs-6">
                {% if dic.fetcher == "已启动"%}
                <div class="small-box bg-gray">
                {% else %}
                <div class="small-box bg-red">
                {% endif %}
                    <div class="inner">
                        <h5>{{ dic.fetcher }}</h5>
                        <p>fetcher ({{ dic.fetcher_time }})</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-gear-outline"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                {% if dic.searcher == "已启动"%}
                <div class="small-box bg-gray">
                {% else %}
                <div class="small-box bg-red">
                {% endif %}
                    <div class="inner">
                        <h5>{{ dic.searcher }}</h5>
                        <p>searcher ({{ dic.searcher_time }})</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-iphone"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                {% if dic.watcher == "已启动"%}
                <div class="small-box bg-gray">
                {% else %}
                <div class="small-box bg-red">
                {% endif %}
                    <div class="inner">
                        <h5>{{ dic.watcher }}</h5>
                        <p>watcher ({{ dic.watcher_time }})</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                {% if dic.sender == "已启动"%}
                <div class="small-box bg-gray">
                {% else %}
                <div class="small-box bg-red">
                {% endif %}
                    <div class="inner">
                        <h5>{{ dic.sender }}</h5>
                        <p>sender ({{ dic.sender_time }})</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="box-footer">
            <div class="col-md-12">
                <a class='btn btn-primary' href='{{ url_for("main.searchtask") }}'>search</a>
                <a class='btn btn-primary' href='{{ url_for("main.watchtask") }}'>watch</a>
                <a class='btn btn-flat pull-right' href='{{ url_for("main.index") }}'>home</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        setInterval(function(){
           location.reload();
        }, 10000);
    }
</script>
{% endblock %}