{% extends "base.html" %}

{% block title %}组件管理{% endblock %}


{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">组件管理</li>
        <li class="active">组件列表</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post"><div class="box-header with-border">
            {% include 'message.html' %}
        </div>

    <div class="box-body">
        {% if form%}
        <table class="table table-bordered">
            <tr>
                <th>名称</th>
                <th>状态</th>
                <th>结束运行</th>
                <th>操作</th>
            </tr>
            {% for row in form.content %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.status}}</td>
                <td>{{row.run_end}}
                <td>
            {% if row.name == 'fetcher' %}
                <a class='btn-sm btn-default' href='{{ url_for("main.fetch") }}'>fetch</a>
            {% else %}
                <a class='btn-sm btn-default' href='{{ url_for("main.search", eng=row.name) }}'>search</a>
                <a class='btn-sm btn-default' href='{{ url_for("main.watch", eng=row.name) }}'>watch</a>
            {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>


<!--        <div class="box-footer">-->
<!--            <div class="col-md-12">-->
<!--                <a class='btn btn-primary' href='{{ url_for("main.fetch") }}'>fetch</a>-->
<!--                <a class='btn btn-primary' href='{{ url_for("main.search") }}'>search</a>-->
<!--                <a class='btn btn-primary' href='{{ url_for("main.watch") }}'>watch</a>-->
<!--            </div>-->
<!--        </div>-->
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        setInterval(function(){
           location.reload();
        }, 10000);
    }
</script>
{% endblock %}