{% extends "base.html" %}

{% block title %}组件管理{% endblock %}


{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">组件管理</li>
        <li class="active">组件列表</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post"><div class="box-header with-border">
            {% include 'message.html' %}
        </div>

    <div class="box-body">
        {% if form%}
        <table class="table table-bordered">
            <tr>
                <th>名称</th>
                <th>状态</th>
                <th>运行时间</th>
                <th>操作</th>
            </tr>
            {% for row in form.content %}
            <tr>
                <td>{{row.name}}</td>
                <td>
            {% if row.status == 1 %}
                    <span>Ready</span>
            {% elif row.status == 2 %}
                    <span>Running</span>
            {% else %}
                    <span>Stop</span>
            {% endif %}
                </td>
                <td>
            {% if row.status == 2 %}
                    <span>{{row.run_start.strftime("%m/%d")}}({{row.run_start.strftime("%H:%M")}}~)</span>
            {% else %}
                    <span>{{row.run_start.strftime("%m/%d")}}({{row.run_start.strftime("%H:%M")}}~{{row.run_end.strftime("%H:%M")}})</span>
            {% endif %}
                <td>
            {% if row.name == 'fetcher' %}
                <a class='btn btn-sm btn-default' href='{{ url_for("main.start_engine", name=row.name, act="fetch") }}'>start</a>
            {% elif row.name == 'engine' %}
                <div class="btn-group btn-group-sm d-inline">
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        start <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href='{{ url_for("main.start_engine", name=row.name, act="engine_task") }}'>task</a></li>
                        <li><a class="dropdown-item" href='{{ url_for("main.start_engine", name=row.name, act="engine_init") }}'>init</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="btn-group btn-group-sm d-inline">
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        start <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href='{{ url_for("main.start_engine", name=row.name, act="search") }}'>search</a></li>
                        <li><a class="dropdown-item" href='{{ url_for("main.start_engine", name=row.name, act="watch") }}'>watch</a></li>
                        <li><a class="dropdown-item" href='{{ url_for("main.start_engine", name=row.name, act="all") }}'>all</a></li>
                    </ul>
                </div>
            {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>


<!--        <div class="box-footer">-->
<!--            <div class="col-md-12">-->
<!--                <a class='btn btn-primary' href='{{ url_for("main.start_engine") }}'>fetch</a>-->
<!--                <a class='btn btn-primary' href='{{ url_for("main.start_engine") }}'>search</a>-->
<!--                <a class='btn btn-primary' href='{{ url_for("main.start_engine") }}'>watch</a>-->
<!--            </div>-->
<!--        </div>-->
    </form>
</div>
{% endblock %}

{% block scripts %}
    {% if form.reload == 1 %}
<script>

    function initPage() {
        setInterval(function(){
           location.reload();
        }, 10000);
    }
</script>
        {% endif %}
{% endblock %}