{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block navbar %}
<section class="content-header">
    <h3></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 首页</li>
        <li class="active">统计</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <a href="{{ url_for('main.signallist') }}"><h3 id="count01">0</h3></a>
                        <p>信号总数</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-gear-outline"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <a href="{{ url_for('main.signallist', today=1) }}"><h3 id="count02">0</h3></a>
                        <p>今日新增</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-iphone"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <a href="{{ url_for('main.ticketlist') }}"><h3 id="count03">0</h3></a>
                        <p>票据</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <a href="{{ url_for('main.tradelist') }}"><h3 id="count04">0</h3></a>
                        <p>今日交易</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-md-12">
            <a class='btn btn-default' href='{{ url_for("main.component") }}'>组件</a>
            <a class='btn btn-default pull-right ' href='{{ url_for("main.ticketedit") }}'>添加</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        var jsInObj = null;
        restTemplate("GET", "/stats/summary", jsInObj, function (jsOutObj) {
            $("#count01").text(jsOutObj.count01);
            $("#count02").text(jsOutObj.count02);
            $("#count03").text(jsOutObj.count03);
            $("#count04").text(jsOutObj.count04);
        });
    }
</script>
{% endblock %}