{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 首页</li>
        <li class="active">统计</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-red">
                    <div class="inner">
                        <a style="color: yellow"  href="{{ url_for('main.choice_list',status=2) }}"><h3 id="tr_size">0</h3></a>
                        <p>trading（today:<a href="{{ url_for('main.choice_list',status=2,today=1) }}">
                        <span id="tr_today_size">0</span></a>）</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-gear-outline"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-fuchsia">
                    <div class="inner">
                        <a style="color: white" href="{{ url_for('main.choice_list',status=2) }}"><h3 id="b_size">0</h3></a>
                        <p>b point（today:<a href="{{ url_for('main.choice_list',status=2 ,today=1) }}">
                        <span id="b_today_size">0</span></a>）</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-iphone"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <a style="color: white" href="{{ url_for('main.choice_list',status=1 ,today=1 ) }}"><h3 id="c_today_size">0</h3></a>
                        <p>choice（weekly:<a style="color: yellow" href="{{ url_for('main.choice_list',status=1) }}">
                        <span id="c_size">0</span></a>）</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <a style="color: yellow" href="{{ url_for('main.choice_list',status=30,today=1) }}"><h3 id="o_today_size">0</h3></a>
                        <p>out（total:<a style="color: yellow" href="{{ url_for('main.choice_list',status=30 ) }}">
                        <span id="o_size">0</span></a>）</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-md-12">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        var jsInObj = null;
        restTemplate("GET", "/stats/summary", jsInObj, function (jsOutObj) {
            $("#tr_size").text(jsOutObj.tr_size);
            $("#tr_today_size").text(jsOutObj.tr_today_size);
            $("#c_size").text(jsOutObj.c_size);
            $("#c_today_size").text(jsOutObj.c_today_size);
            $("#b_size").text(jsOutObj.b_size);
            $("#b_today_size").text(jsOutObj.b_today_size);
            $("#o_size").text(jsOutObj.o_size);
            $("#o_today_size").text(jsOutObj.o_today_size);
        });
    }
</script>
{% endblock %}