{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block navbar %}
<section class="content-header">
    <h3></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 首页</li>
        <li class="active">统计</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-aqua-gradient">
                    <div class="inner">
                        <a style="color: yellow" href="{{ url_for('main.choice_list') }}"><h3 id="c_size">0</h3></a>
                        <p>策略池（今日入选：<span id="c_today_size"></span>）</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-iphone"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-orange">
                    <div class="inner">
                        <a style="color: white" href="{{ url_for('main.ticket_list') }}"><h3 id="ti_size">0</h3></a>
                        <p>票据（今日：<span id="ti_today_size"></span>）</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-fuchsia">
                    <div class="inner">
                        <a style="color: yellow" href="{{ url_for('main.signallist') }}"><h3 id="s_today_size">0</h3></a>
                        <p>今日信号（信号池：<span id="s_size"></span>）</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-red">
                    <div class="inner">
                        <a style="color: white"  href="{{ url_for('main.tradelist') }}"><h3 id="tr_size">0</h3></a>
                        <p>交易</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-gear-outline"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-md-12">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        var jsInObj = null;
        restTemplate("GET", "/stats/summary", jsInObj, function (jsOutObj) {
            $("#c_size").text(jsOutObj.c_size);
            $("#c_today_size").text(jsOutObj.c_today_size);
            $("#s_size").text(jsOutObj.s_size);
            $("#s_today_size").text(jsOutObj.s_today_size);
            $("#ti_size").text(jsOutObj.ti_size);
            $("#ti_today_size").text(jsOutObj.ti_today_size);
            $("#tr_size").text(jsOutObj.tr_size);
        });
    }
</script>
{% endblock %}