{% extends "base.html" %}

{% block title %}通知方式配置{% endblock %}


{% block navbar %}
<section class="content-header">
    <h3></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{{ url_for('main.index') }}">首页</a></li>
        <li class="active"><a href="{{ url_for('main.signallist') }}">信号管理</a></li>
        <li class="active">信号配置</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post">
        {{form.hidden_tag()}}
        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.name.label}}</label>
                    {{form.name(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.code.label}}</label>
                    {{form.code(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.dt.label}}</label>
                    {{form.dt(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.freq.label}}</label>
                    {{form.freq(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.strategy.label}}</label>
                    {{form.strategy(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.tick.label}}</label>
                    {{form.tick(class_="form-control select2 tick_select",placeholder="请输入")}}
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="col-md-12">
                {% if form.id.data %}
                <a class='btn btn-danger' href='{{ url_for("main.signallist", id=form.id.data, action="del") }}'>删除</a>
                <a class='btn btn-default' href='{{ url_for("main.signallist", id=form.id.data, action="tick") }}'>转为票据</a>
                <a class='btn btn-primary pull-right' href='{{ url_for("main.signallist") }}'>返回</a>
                {% else %}
                {{form.submit(class_="btn btn-primary pull-right")}}
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        $(".tick_select").val("{{form.tick.data}}").select2();
    }
</script>
{% endblock %}