{% extends "base.html" %}

{% block title %}通知方式配置{% endblock %}


{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-leaf"></i> <a href="{{ url_for('main.ticket_list') }}">票據管理</a></li>
        <li class="active">票据明细</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        {% if ticket.code%}
        <div class="box-body">
                <div class="form-group">
                    {% if ticket.code.startswith('60') %}
                    <a style="color: blueviolet" href="http://xueqiu.com/S/SH{{ticket.code}}">{{ticket.name}}({{ticket.code}})</a>
                    {% else %}
                    <a style="color: blueviolet" href="http://xueqiu.com/S/SZ{{ticket.code}}">{{ticket.name}}({{ticket.code}})</a>
                    {% endif %}
                </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <td><label>状态</label></td>
                            <td><span type="text" >{{ticket.status_text}}</span></td>
                        </tr>
                        <tr>
                            <td><label>策略</label></td>
                            <td><span type="text" >{{ticket.strategy}}</span></td>
                        </tr>
                        <tr>
                            <td><label>信號級別</label></td>
                            <td><span type="text" >{{ticket.bs_freq}}</span></td>
                        </tr>
                        <tr>
                            <td><label>信號時間</label></td>
                            <td><span type="text" >{{ticket.bs_dt}}</span></td>
                        </tr>
                        <tr>
                            <td><label>信號價格</label></td>
                            <td><span type="text" >{{ticket.bs_price}}</span></td>
                        </tr>
                        <tr>
                            <td><label>信號强度</label></td>
                            <td><span type="text" >{{ticket.bs_strength}}</span></td>
                        </tr>

                        {% if ticket.status_text == "持有"%}
                        <tr>
                            <td><label>成本</label></td>
                            <td><span type="text" >{{ticket.cost}}</span></td>
                        </tr>
                        <tr>
                            <td><label>持有</label></td>
                            <td><span type="text" >{{ticket.hold}}</span></td>
                        </tr>
                        <tr>
                            <td><label>止损</label></td>
                            <td><span type="text" >{{ticket.cut}}</span></td>
                        </tr>
                        <tr>
                            <td><label>剔除</label></td>
                            <td><span type="text" >{{ticket.clean_text}}</span></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="col-md-3">
                    <label>信号明细</label>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>信号</th>
                            <th>时间</th>
                            <th>级别</th>
                            <th>价格</th>
                        </tr>
                        {% if singles%}
                            {% for row in singles %}
                            <tr>
                                <td>
                                    {% if row.type == 1 %}
                                    <label>卖出</label>
                                    {% else %}
                                    <label style="color: orangered">买入</label>
                                    {% endif %}
                                </td>
                                <td>{{row.dt}}</td>
                                <td>{{row.freq}}</td>
                                <td>{{row.price}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr><td colspan="3">无</td></tr>
                        {% endif %}
                    </table>
                </div>
                <div class="col-md-3">
                    <label>成交记录</label>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                            <tr>
                                <th>类型</th>
                                <th>时间</th>
                                <th>价格</th>
                                <th>成交</th>
                            </tr>
                        {% if trades%}
                            {% for row in trades %}
                            <tr>
                                <td>
                                    {% if row.type == 1 %}
                                    <label>卖出</label>
                                    {% else %}
                                    <label style="color: orangered">买入</label>
                                    {% endif %}
                                </td>
                                <td>{{row.dt}}</td>
                                <td>{{row.price}}</td>
                                <td>{{row.volume}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr><td colspan="4">无</td></tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="col-md-12">
                {% if ticket.status == 0 %}
                <a class='btn btn-info'
                   href='{{ url_for("main.ticket_detail", id=ticket.id, action="tob") }}'>盯盘</a>
                {% elif ticket.status == 1 %}
                <a class='btn btn-danger'
                   href='{{ url_for("main.ticket_detail", id=ticket.id, action="trd", type="kai" )}}'>开仓</a>
                <a class='btn btn-info'
                   href='{{ url_for("main.ticket_detail", id=ticket.id, action="wat") }}'>观察</a>
                {% elif ticket.status == 2 %}
                <a class='btn btn-danger'
                   href='{{ url_for("main.ticket_detail", id=ticket.id, action="trd", type="pin") }}'>平仓</a>
                <a class='btn btn-primary'
                   href='{{ url_for("main.ticket_detail", id=ticket.id, action="trd", type="jia") }}'>加仓</a>
                <a class='btn btn-primary'
                   href='{{ url_for("main.ticket_detail", id=ticket.id, action="trd", type="jin") }}'>减仓</a>
                {% endif %}
                <a class='btn btn-default pull-right'
                   href='{{ url_for("main.ticket_edit", id=ticket.id) }}'>修改</a>
            </div>
        </div>

        {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        setTimeout(function (){
            let clo = $(".close")
            if (clo.length > 0){
                clo.click()
            }
        }, 3000)
    }
</script>
{% endblock %}