{% extends "base.html" %}

{% block title %}通知方式配置{% endblock %}


{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{{ url_for('main.index') }}">首页</a></li>
        <li class="active"><a href="{{ url_for('main.ticket_list') }}">票據管理</a></li>
        <li class="active">票据维护</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post">
        {{form.hidden_tag()}}
        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-body">
            <div class="col-md-6" >
                <div class="form-group">
                    <label>{{form.code.label}}</label>
                        {{form.code(class_="form-control",placeholder="请输入",onblur="check_code(this)")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.name.label}}</label>
                    {{form.name(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.cost.label}}</label>
                    {{form.cost(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.hold.label}}</label>
                    {{form.hold(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.strategy.label}}</label>
                    {{form.strategy(class_="form-control strategy_select",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.buy.label}}</label>
                    {{form.buy(class_="form-control buy_select",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.watch.label}}</label>
                    {{form.watch(class_="form-control watch_select",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.cut.label}}</label>
                    {{form.cut(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.clean.label}}</label>
                    {{form.clean(class_="form-control clean_select",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.status.label}}</label>
                    {{form.status(class_="form-control status_select")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.source.label}}</label>
                    {{form.source(class_="form-control source_select")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.created.label}}</label>
                    {{form.created(class_="form-control",placeholder="创建时间")}}
                </div>
            </div>

        </div>

        <div class="box-footer">
            <div class="col-md-12">
                {% if form.code.data %}
                <a class='btn btn-default'
                   href='{{ url_for("main.ticket_edit", id=form.id.data, action="del") }}'>删除</a>
                {% endif %}
                {{form.submit(class_="btn btn-primary pull-right")}}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        $(".strategy_select").val("{{form.strategy.data}}").select2();
        $(".buy_select").val("{{form.buy.data}}").select2();
        $(".watch_select").val("{{form.watch.data}}").select2();
        $(".clean_select").val("{{form.clean.data}}").select2();
        $(".status_select").val("{{form.status.data}}").select2();
        $(".source_select").val("{{form.source.data}}").select2();
        setTimeout(function (){
            let clo = $(".close")
            if (clo.length > 0){
                clo.click()
            }
        }, 3000)
    }

    function check_code(obj) {
        let c = "{{form.code.data}}"
        if (c === "None") {
            let code = $(obj).val()
            restTemplate("GET", "/get/id?code=" + code, null, function (obj) {
                if (obj.id > 0) {
                    location.href = '{{ url_for("main.ticket_edit") }}' + '?id=' + obj.id
                }
            });
        }
    }
</script>
{% endblock %}