{% extends "base.html" %}

{% block title %}交易查询{% endblock %}
{% block navbar %}
<section class="content-header">
    <ol class="breadcrumb">
        <div class="input-group col-md-10">
            <input id="sea" type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info" onclick="search()">查找</button>
                <a class="btn btn-info" href="{{ url_for('main.tradeedit') }}">新建</a>
            </span>
        </div>
    </ol>
<!--    <ol class="breadcrumb">-->
<!--        <li><i class="fa fa-dashboard"></i> <a href="{{ url_for('main.index') }}">首页</a></li>-->
<!--        <li class="active"><a href="{{ url_for('main.tradelist') }}">交易管理</a></li>-->
<!--        <li class="active">交易查询</li>-->
<!--    </ol>-->
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'message.html' %}
    </div>

    <div class="box-body">
        {% if form%}
        <table class="table table-bordered">
            <tr>
                <th style="display: none" >ID</th>
                <th>编码</th>
                <th>状态</th>
                <th>时间</th>
                <th>级别</th>
            </tr>
            {% for row in form.content %}
            {% if row.flag == 1 %}
            <tr style="background-color: beige">
            {% else %}
            <tr>
            {% endif %}
                <td style="display: none">{{row.id}}</td>
                <td>
                     <a href='{{ url_for("main.ticket_detail", id=row.code) }}'>{{row.name}}</a>
<!--                    {% if row.code.startswith('60') %}-->
<!--                    <a href="http://xueqiu.com/S/SH{{row.code}}">{{row.name}}</a>-->
<!--                    {% else %}-->
<!--                    <a href="http://xueqiu.com/S/SZ{{row.code}}">{{row.name}}</a>-->
<!--                    {% endif %}-->
                </td>
                <td>
                    {% if row.type == 1 %}
                    <label>卖出</label>
                    {% else %}
                    <label style="color: orangered">买入</label>
                    {% endif %}
                </td>
                <td>{{row.dt}}</td>
                <td>
                    {% if row.notify == 1 %}
                    <label style="color: brown"><a href='{{ url_for("main.tradeedit", id=row.id) }}'>{{row.freq}}</a></label>
                    {% else %}
                    <label><a href='{{ url_for("main.tradeedit", id=row.id) }}'>{{row.comment}}（{{row.freq}}）</a></label>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <div class="box-footer clearfix">
        {% if form%}
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            {% for i in range(1, form.total_page+ 1) %}
            {% if i == form.page %}
            <li><a href="?page={{i}}"><b>{{i}}</b></a></li>
            {% else %}
            <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
    }
    function search(){
        location.href = '{{ url_for("main.ticket_list") }}' + '?sea=' + $("#sea").val()
    }
</script>
{% endblock %}